.math-page {
  height: 90vh;
  padding: 0;

  @media (max-width: 56.25em) {
    height: 75rem;
  }
}

.math-signs {
  display: flex;

  &__btn {
    background-color: #eac8ca;
    border-radius: 50%;
    cursor: pointer;

    padding: .5rem;
    margin-right: 1rem;

    img {
      height: 7rem;
      width: 7rem;
    }
  }
}

.flash-card {
  background-color: #eac8ca;
  border-radius: 5px;
  padding: 2rem;

  height: 45rem;
  width: 32rem;

  display: flex;
  flex-direction: column;

  @media (max-width: 56.25em) {
    height: 42rem;
    width: 30rem;
  }

  &__numbers {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    .sign {
      font-size: 12rem;
    }

    .numbers {
      font-size: 10rem;
      text-align: right;

      display: flex;
      flex-direction: column;
    }
  }

  &__divider {
    border-bottom: 8px solid #2e4057;
  }

  &__answers {
    display: flex;
    justify-content: space-between;

    font-size: 5rem;
    margin-top: 2rem;

    span {
      cursor: pointer;
    }
  }
}
