<app-header [kidName]="kidName"></app-header>
<div class="container d-flex flex-column justify-content-evenly align-items-center" style="height: 90vh;">
  <div class="math-signs">

    <div class="math-signs__btn" id="sign__btn-1" (click)="selectType('+')">
      <img src="../../../assets/plus-sign.png" alt="">
    </div>

    <div class="math-signs__btn" id="sign__btn-2" (click)="selectType('-')">
      <img src="../../../assets/less-sign.png" alt="">
    </div>

    <div class="math-signs__btn" id="sign__btn-3" (click)="selectType('x')">
      <img src="../../../assets/mult-sign.png" alt="">
    </div>

  </div>

  <div class="flash-card" id="flash-card">
    <div class="flash-card__numbers">
      <div class="sign">{{ sign }}</div>
      <div class="numbers">
        <span>{{ firstNumber }}</span>
        <span>{{ secondNumber }}</span>
      </div>
    </div>

    <div class="flash-card__divider"></div>

    <div class="flash-card__answers">
      <span *ngFor="let answer of arrAnswers" (click)="setupClickAnswer(sign, answer)">
        {{ answer }}
      </span>
    </div>
  </div>

  <alert></alert>
  <!-- <div style="visibility: hidden; height: 70px;">
  </div> -->
</div>