.home-page {
  height: 90vh;
  padding: 0;

  @media (max-width: 56.25em) {
    height: 75rem;
  }
}

.my-card {
  width: 40rem;
  height: 30rem;
  padding: 2rem;

  border-radius: 5px;
  background-color: #f6efee;

  @media (max-width: 56.25em) {
    height: 25rem;
    width: 35rem;
  }

  &__inner {
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    &--img {
      height: 8rem;
    }

    &--title {
      font-size: 2.8rem;
    }

    input {
      border: 1px solid #8d89a6;
      border-radius: 5px;

      padding: .5rem;
      margin-right: 2rem;

      @media (max-width: 56.25em) {
        padding: .7rem;
        width: 20rem;
        font-size: 1.5rem;
      }
    }

    button {
      border: 1px solid #8d89a6;
      border-radius: 5px;
      padding: .5rem;

      text-transform: uppercase;
      background-color: #f6f740;

      @media (max-width: 56.25em) {
        padding: .8rem;
        font-size: 1.4rem;
      }
    }
  }
}