.header {
  background-color: #eb8258;
  color: #ffffff !important;
  height: 4rem;
  width: 100%;
  box-sizing: border-box;
  padding: 0 2rem 0 2rem;

  display: flex;
  align-items: center;
  justify-content: space-between;

  .name {
    h2 {
      font-size: 2rem;
      font-weight: 300;
      margin-bottom: 0;
    }
  }

  .change-colors {
    display: flex;
    align-items: center;

    span {
      font-size: 2rem;
      margin-right: 1rem;
    }
  }
}

@media (max-width: 56.25em) {
  .header {
    height: 5rem;
  }
}
