button {
  background-color: transparent;
  border: none;
}

.round-btn {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  border: .3rem solid;
  margin-right: .5rem;

  @media (max-width: 56.25em) {
    height: 4rem;
    width: 4rem;
  }
}

.blue {
  background-color: #bce7fd;
}

.pink {
  background-color: #eac8ca;
}
