/* You can add global styles to this file, and also import other style files */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;

  @media (max-width: 75em) {
    font-size: 56.25%;
  }

  @media (max-width: 56.25em) {
    font-size: 50%;
  }

  @media (min-width: 112.5em) {
    font-size: 75%;
  }
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Lexend', sans-serif;
  color: #2e4057;
  background-color: #fe938c;
}

.alert {
  box-sizing: border-box;

  width: 36rem;
  height: 7rem;
  border-radius: 5px;
  padding: .5rem;

  display: flex;
  align-items: center;
  justify-content: flex-start;

  @media (max-width: 56.25em) {
    width: 34rem;
  }

  &__icon {

    width: 6rem;
    height: 6rem;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

    img {
      height: 5rem;
    }
  }

  &__msg {
    font-size: 1.8rem;
    font-weight: 600;
    margin-left: 2rem;

    @media (max-width: 56.25em) {
      font-size: 2rem;
    }
  }
}

.error {
  background-color: #db5461;

  &__icon {
    background-color: #eac8ca;
  }

  &__msg {
    span {
      color: #eac8ca;
    }
  }
}

.success {
  background-color: #5b8e7d;

  &__icon {
    background-color: #eac8ca;
  }

  &__msg {
    span {
      color: #ead2ac;
    }
  }
}
